
@import "globals/font";
@import "globals/slick"; // slider css
@import "globals/slick-theme"; // slider css
@import "variables";
// main part
@import "blocks/login";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/allpages";
@import "blocks/pagemy";
@import "blocks/achievements";
@import "blocks/messages";
@import "blocks/teacher-messages";
@import "blocks/presence";
@import "blocks/tabtoday";
@import "blocks/tabweek";
@import "blocks/coursecards";
@import "blocks/coursesactive";
@import "blocks/coursesfinished";
@import "blocks/help-menu";
@import "blocks/mypublic-student";
@import "blocks/accomplishments";
@import "blocks/accomplishments-medals";
@import "blocks/accomplishments-grades";
@import "blocks/course-main-content";
@import "blocks/incourse-header";
@import "blocks/quizattempt";
@import "blocks/quizsummary";
@import "blocks/messages-popup";
@import "blocks/notifications-popup";
@import "blocks/dropdown-menu";
@import "blocks/blockspanel";
