//fonts
$extra_light: 100;
$light: 300;
$regular: 400;
$semi_bold: 500;
$bold: 600;
$extra_bold: 800;

// colors
$d_green: #83d3ae;
$d_pink: #973a91;
$d_blue: #19284f;
$d_yellow: #ffdc4f;

$gray: #e7e7e7;
$gray_2: #e6e6e5;
$gray_light: #f3f2f0;
$gray_input: #717171;

$dark_dark_gray: #787a7a;
$white: #fff;

// $primary-color: #0096DB;
$primary-color: $d_blue;
$primary-color-1: #19284f; // duplicated $d_blue color to fast revert changes back to $primary-color
$doc-orange: #ff8e4b;
$doc-red: #e8270c;
$progress_old: #d5d5d4;
$progress: #ebebeb;
$progress-bar: #00db7c;
$quiz-timer: #ed523d;
$pink: #ee2d68;

$text-color: #3c3c3c;
$text-color-light: #8a8a8a;
$text-color-gray: #646464;

$error: #ff090b;
$warning:#ffa500;

$new-progress-bar: #83d3ae;
// dimentions
$RTL: '[dir="rtl"]';
$LTR: '[dir="ltr"]';
$less_1344: "only screen and (max-width : 1344px)";
$is-tablet: "only screen and (min-width : 576px) and (max-width : 992px)";
$is-mobile: "only screen and (max-width : 576px)";
$header-height: 72px;
$bottom-height: 103px;
$content-header-height: 124px;
$content-main-height: calc(100vh - #{$header-height} - #{$content-header-height} - #{$bottom-height});
$messages-width: 318px;
