@import url('https://fonts.googleapis.com/css?family=Alef');

/* Davidson */
.pagelayout-incourse .m-t-2.m-b-1 {
    display: none;
}

/* Renderer - user menu
*/
.yui3-menu.useractionmenu {
    /*width: 40px;*/
    width: 36px;
    position: relative;
    float: left;
}
.profilepicture .fullname {
    /* float: right; */
    top: 12px;
    position: relative;
    left: 10px;
}

.yui3-menu.useractionmenu .yui3-menu-content {border: none;padding: 0;}
.yui3-skin-sam .yui3-menu .yui3-menu.yui3-loading .yui3-menu-content {
    display: none;
}
.dir-rtl.yui3-skin-sam .yui3-menu.yui3-menu.useractionmenu .yui3-menu .yui3-menu-content {
    font-size: 100%;
    right: 110px;
    position: relative;
}
.dir-rtl.yui3-skin-sam .yui3-menu-label,
.dir-rtl.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label,
.dir-rtl.yui3-skin-sam .yui3-menuitem-content,
.dir-rtl.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content {text-align: right;}

div#menu2 {
    top: 0 !important;
}

/* quiz */
#page-mod-quiz-review .mod_quiz-next-nav{
    font-size: 1.4em;
    border: #0A246A solid 1px;
    border-radius:8px;
    margin: 15px;
    padding: 8px;
    background: #def2f8;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
