@import '../variables';

$item-height: 50px;

.accomplishments-grades {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  .grade {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    &-name {
      display: flex;
      align-items: center;
      width: 340px;
      height: $item-height;
      p {
        font-size: 24px;
        font-weight:$bold;
        color: $text-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
    }
    &-progress {
      height: $item-height;
      display: flex;
      align-items: center;
      .progress {
        width: 430px;
        display: flex;
        align-items: center;
        height: 2px;
        background: $progress;
        margin: 0;
        .progress-bar {
          height: 4px;
          background: $progress-bar;
          border-radius: 50px;
        }
      }
      .progress-value {
        font-size: 24px;
        margin: 29px;
      }
    }
  }
}
