@import "../variables";

.accomplishments {
  background: $gray_light;
  min-height: 100vh;
  padding: 74px 48px 40px;
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    .tab-links {
      display: flex;
      .nav-item {
        margin-right: 40px;
      }
      .tab-link {
        opacity: 0.6;
        color: $primary-color;
        font-size: 24px;
        font-size: 21px;
        font-weight:$bold;
        text-decoration: none;
        padding-bottom: 3px;
        transform: translateY(0);
        transition: transform .5s linear;
        &.active {
          opacity: 1;
          border-bottom: 2px solid $primary-color;
          transform: translateY(0);
          transition: transform .5s linear;
        }
      }
    }
    .filters {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .filter {
        font-size: 14px;
        padding: 0 8px;
        border-right: 1px solid $text-color;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
