
.achievements {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  a {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .achievment {
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-label {
      font-size: 15px;
      margin-bottom: 30px;
    }
    .icon-report {
      height: 57px;
      width: 40px;
      background:url([[pix:theme|pagemy/course-grade]]) no-repeat center center;
      // background:url([[pix:theme|pagemy/grades]]) no-repeat center center;
      background-size: contain;
    }
    .icon-medal {
      height: 60px;
      width: 49px;
      background:url([[pix:theme|pagemy/course-medals]]) no-repeat center center;
      // background:url([[pix:theme|pagemy/medal]]) no-repeat center center;
      background-size: contain;
      position: relative;
      .icon-counter {
        position: absolute;
        top: -3px;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        color: #646464;
        background: $gray;
        border: 1.28px solid #1177d1;
        line-height: 22px;
        text-align: center;
        font-size: 12px;
      }
    }
    .icon-diplom {
      height: 57px;
      width: 46px;
      background:url([[pix:theme|pagemy/course-diplom]]) no-repeat center center;
      // background:url([[pix:theme|pagemy/diplom]]) no-repeat center center;
      background-size: contain;
    }
  }
}

#course-main-content{
  .achievements {
    margin: 0 1px;
    ul {
      .achievment {
        margin: 15px 7px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        // &:last-child {
        //   margin: 0;
        // }
        .icon-label {
          margin-bottom:0;
          font-size: 12pt;
          line-height: 12pt;
          color:$d_blue;
        }
        .icon-report {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background:url([[pix:theme|grade_icon]]) no-repeat center center;
        }
        .icon-medal {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background:url([[pix:theme|medal_icon]]) no-repeat center center;         
        }
        .icon-diplom {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background:url([[pix:theme|diploma_icon]]) no-repeat center center;
        }
      }
    }
  }
}
