.blockpanelbtn {
    position: absolute;
    top: -119px;
    right: 6%;
    z-index: 1000;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            color: #fff;
            font-size: 1.225rem;
            transition: 0.25s ease-in-out;
        }
        span {
            display: none;
        }
    }
}
.blocksliderbutton_open {
    i {
        transform: rotate(90deg);
    }
}

a.blockpanelbtn_clone {
    position: fixed;
    right: 285px;
    top: 50px;
    z-index: 1000;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

#page-content {
    .slidingblockpanel {
        position: fixed;
        z-index: 1051;
        top: 45px;
        bottom: 0;
        background-color: #f2f2f2;
        padding: 15px;
        width: 400px;
        .col-md-4 {
            // flex: 0 0 100%;
            // max-width: 100%;
            // padding: 0;
        }
        .row {
            background-color: #f2f2f2;
        }
        .fp-blocks{
            height: 100%;
            overflow-y: auto;
        }
    }
}
