.blockpanelbtn {
    position: absolute;
    top: -119px;
    right: 6%;
    z-index: 1000;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            color: #fff;
            font-size: 1.225rem;
            transition: 0.25s ease-in-out;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -ms-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
        }
        span {
            display: none;
        }
    }
}
.blocksliderbutton_open {
    i {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}
/* html[dir='rtl']{
    #page-content {
        .card-block{
            .slidingblockpanel {
                left: -1000px;
                }
        }
    }
} */
#page-my-index {
    #page-content {
        #region-main-box {
            width: 100vw;
            overflow-x: hidden;
            height: 100%;
            overflow-y: -webkit-paged-y;
        }
        .card-block {

            .slidingblockpanel {
                position: absolute;
                z-index: 100;
                top: 2rem;
                max-width: 30%;
                
                .col-md-4:last-child {
                    flex: 0 0 100%;
                    max-width: 100%;
                    background-color: #f2f2f2;
                }
                .container-fluid {

                    .row {}
                }
            }
        }
    }
}

#page-course-view-stardust {
    header {
        .container-fluid {
            max-width: 100vw;
            margin-right: 0;

        }
    }
    #page-content {
        #region-main-box {
            width: 100vw;
            overflow-x: hidden;
            height: 100%;
            overflow-y: -webkit-paged-y;
        }
        .card-block {

            .slidingblockpanel {
                position: absolute;
                z-index: 100;
                top: -4rem;
                max-width: 30%;
                background-color: #f2f2f2;
                .container-fluid {
                    margin-right: 0;
                    overflow: hidden;

                    .col-md-4:last-child {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }

                }
            }
        }
    }
}
