.blockpanelbtn {
    position: absolute;
    top: -119px;
    right: 6%;
    z-index: 1000;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            color: #fff;
            font-size: 1.225rem;
            transition: 0.25s ease-in-out;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -ms-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
        }
        span {
            display: none;
        }
    }
}
.blocksliderbutton_open {
    i {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}
/* html[dir='rtl']{
    #page-content {
        .card-block{
            .slidingblockpanel {
                left: -1000px;
                }
        }
    }
} */
#page-content {
 .card-block {
    position: relative;
    /*     overflow: hidden; */
    .slidingblockpanel {
        position: absolute;
       /*  right: -1000px; */
        top: 1.5rem;
        z-index: 100;
        overflow: hidden;
        height: auto;
        .col-md-4:last-child {
            min-width: 22rem;
            max-width: 100%;
            padding: 1rem;
            background-color: #f2f2f2;
            margin-right: 1rem;
        }
        .container-fluid {
            padding: 0;
            .row {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}   
}

