.blockpanelbtn {
    position: absolute;
    top: -119px;
    right: 6%;
    z-index: 1000;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            color: #fff;
            font-size: 1.225rem;
            transition: 0.25s ease-in-out;
        }
        span {
            display: none;
        }
    }
}
.blocksliderbutton_open {
    i {
        transform: rotate(90deg);
    }
}

.blockpanelbtn_clone {
    position: fixed;
    right: 285px;
    top: 60px;
    z-index: 1000;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }

}
/* html[dir='rtl']{
    #page-content {
        .card-block{
            .slidingblockpanel {
                left: -1000px;
                }
        }
    }
} */
#page-my-index {
    #page-content {
        #region-main-box {
            width: 100vw;
            height: 100%;

        }
        .card-block {

            .slidingblockpanel {
                position: fixed;
                overflow-y: scroll;
                height: 104%;
                z-index: 100;
                top: 15px;
                // max-width: 300px;
                max-width: 24%;
                .col-md-4:last-child {
                    flex: 0 0 100%;
                    max-width: 100%;
                    background-color: #f2f2f2;
                    padding-top: 15px;
                }

                .container-fluid {
                }
            }
        }
    }
}

#page-course-view-stardust {
    header {
        .container-fluid {
            max-width: 100vw;
            margin-right: 0;

        }
    }
    /*   .fixedbtn{
        position: fixed;
        right: 550px;
        top: 49px;
    } */
    #page-content {
        #region-main-box {
            width: 100vw;
            height: 100%;
        }
        .card-block {
            .slidingblockpanel {
                position: fixed;
                overflow-y: scroll;
                height: 100%;
                z-index: 100;
                top: 35px;
                max-width: 300px;
                padding-top: 8px;
                .container-fluid {
                    margin-right: 0;
                    .col-md-4:last-child {
                        flex: 0 0 100%;
                        max-width: 100%;
                        background-color: #f2f2f2;
                        padding-top: 15px;
                        .block {
                            background-color: #fff;
                        }
                    }

                }
            }
        }
    }
}
