.blockpanelbtn {
    position: absolute;
    top: -119px;
    right: 6%;
    z-index: 1000;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 1.5px 1.5px 2px $primary-color;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            color: #fff;
            font-size: 1.225rem;
            transition: 0.25s ease-in-out;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -ms-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
        }
        span {
            display: none;
        }
    }
}
.blocksliderbutton_open {

    i {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
}
