
 #page-wrapper{
  /* margin-bottom: -90px; */
  height: auto;
  min-height: 100%;
  padding-bottom: 0;
  &:after {
    min-height:90px;
  }
}
 
  #page-footer{
    color: $white;
    background-color: $d_blue !important;
    min-height: 90px;
    z-index: 1;
    #stardust-footer{
      font-family: NextExitRound;
      display: flex;
      flex-flow: row wrap;
      min-height: 90px;
      &>div{
        margin:1.15rem 0;
      }
      .right-logo{
        display: block;
        width:100%;
        height: 130px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .footer-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid transparent;
        border-left-color: $white;
        border-right-color: $white;
        .social-nav{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;
          align-items: center;
          background-color: $d_blue;
          border-bottom: 2px solid $white;
          margin:10px;
          .nav-link{
            box-sizing: border-box;
            margin:0 0 10px;
            width: 28px;
            height: 28px;
            color: $white;
            &[title="instagram"]{
              background-image:url([[pix:theme|instagram_icon]]);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            &[title="twitter"]{
              background-image:url([[pix:theme|twitter_icon]]);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            &[title="facebook"]{
              background-image:url([[pix:theme|facebook_icon]]);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            &[title="youtube"]{
              background-image:url([[pix:theme|youtube_icon]]);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
        .bottom-nav{
          margin:0 10px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;
          align-items: stretch;
          background-color: $d_blue;
          .nav-link{
            font-size: 1rem;
            text-decoration: none;
            padding:0;
            color: $white;
            border-right: 2px solid $white;
            flex-grow: 1;
            text-align: center;
            &:last-of-type{
              border-right: none;
            }
          }
        }
        .default-items{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;
          align-items: stretch;
          background-color: transparent;
          color: $white;
          a{
            color: $white;
          }
        }
      }
      .left-logo{
        display: block;
        width:100%;
        height: 60px;
        background-image:url([[pix:theme|logo_left]]);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .left-wrapper{
        flex-flow: column nowrap;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-align: center;
        color: $white;
        .external-link{
          display: block;
          width:100%;
          text-decoration: underline;
          color: $white;
        }
        >div{
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          span{
            display: block;
            width:100%;
            flex-grow:2;
          }
          .appstore{
            display: block;
            width:110px;
            height: 35px;
            background-position: center;
            background-size: contain;
            margin:0 .5rem;
            &.apple{
              float:left;
              background-image: url([[pix:theme|appstore_apple]]);
            }
            &.google{
              float:right;
              background-image: url([[pix:theme|appstore_google]]);
            }
          }
        }
      }
    }
  }


@media (max-width:768px) {
  #page-footer{
    #stardust-footer{
      .footer-nav{
        order: 1;
        border-color: transparent;
        border:0;
      }
      .right-logo-wrapper{
        order: 2;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      .left-wrapper{
        margin: 0;
        order: 3;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
