.dheader {
    .dropdown-menu {
        position: absolute;
        top: 50px;
    }
    .dheader__settings {
        margin-right: 30px;
    }
    .btn-secondary {
        margin-right: 10px;
    }
    .stardust {
        a[data-title="mymoodle, admin"],
        a[data-title="grades, grades"] {
            display: none;
        }
    }
    .messages_notifications {
        .float-right.popover-region.collapsed {
            background-image: url("[[pix:theme|header/message]]");
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 50% 60%;
            i {
                display: none !important;
            }
        }
        .popover-region-notifications {
            .img-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    margin-right: 0;
                }
            }
        }
    }
}
.navbar .count-container {
    min-width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #3c3c3c;
    text-align: center;
    background-color: #ff7e99;
    box-shadow: 0 0 0 1px #f3f2f0;
}

.dheader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1051;
    max-height: 45px;
    padding: 0;
    border-bottom: none;
    background-color: $d_blue;
    .dheader__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        padding: 0 23px;
        .dheader__left {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            .dheader__logo {
                margin: 0;
                background: none;
                padding: 0;
                margin-right: 60px;
                .dheader__logo-img {
                    height: 45px;
                    padding: 4px 0;
                    width: 128px;
                    display: flex;
                    justify-content: space-between;
                    & img {
                        height: 100%;
                    }
                }
            }
        }
        .dheader__center {
            display: flex;
            flex-flow: row nowrap;
        }
        .dheader__right {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            & > div {
                align-items: center;
            }
            .coursecontrols {
                display: flex;
            }
            .dheader__tutorial {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0 1.5vw;
                color: #fff;
                .dheader__tutorial-link {
                    position: relative;
                    width: 160px;
                    font: $bold 12px 'openSans';
                    color: #fff;
                    display: flex;

                    //custom toggler
                    .tutorial__toggler {
                        position: relative;
                        top: -1px;
                        background-color: #fff;
                        height: 20px;
                        width: 30px;
                        border-radius: 10px;
                        margin: 0 10px;
                        &::after {
                            content: '';
                            position: absolute;
                            transition: 0.2s;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            background-color: $primary-color;
                            top: 3px;
                            left: 13px;
                        }

                        .point {
                            position: absolute;
                            transition: 0.2s;
                            background-color: $primary-color;
                            width: 4px;
                            height: 4px;
                            border-radius: 4px;
                            top: 8px;
                            left: 22px;
                        }

                    }
                    &.active .point {
                        width: 20px;
                        left: 5px;
                    }

                    .tutorialon {
                        display: none;
                    }
                    &.active .tutorialon {
                        display: block;
                    }
                    &.active .tutorialoff {
                        display: none;
                    }
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                }
                .dheader__tutorial-link.active .tutorial__toggler::after {
                    left: 3px;
                }
            }
            // .hidden-md-down{}
            .dheader__lang {
                margin: 0 1vw;
                color: #fff !important;
                font: $bold 12px 'openSans';
                padding-left: 27px;
                background-position: left;
                background-repeat: no-repeat;
                background-size: 22px;
                background-image: url("[[pix:theme|header/lang]]");
                &:after {
                    display: none;
                }
            }
            .popover-region {
                margin: 0 1vw;
                .popover-region-toggle {
                    &:after {
                        width: 24px;
                        box-sizing: border-box;
                        border-top: 12px solid transparent;
                        border-right: 12px solid #fff;
                        border-bottom: 12px solid #fff;
                        border-left: 12px solid transparent;
                        left: 0;
                    }
                }
                .popover-region-container {
                    left: auto;
                    .img-wrap img {
                        margin: 0;
                        width: unset;
                        height: unset;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            [data-owner='editsettings'] {
                a.dropdown-toggle {
                    padding: 8px 12px;
                    color: #212529;
                    background-color: #ced4da;
                    border: 1px solid #bebebe;
                    > .icon {
                        margin-right: 0;
                    }
                }
                a.dropdown-toggle:hover {
                    background-color: rgba(206, 212, 218, 0.035);
                }
                .dropdown-toggle::after {
                    display: none;
                }
                .dropdown-menu {
                    top: 25px;
                }
            }
            .usermenu {
                margin: 0;
                img {
                    border-radius: 50%;
                    overflow: hidden;
                    margin-left: 0;
                }
                .dropdown-toggle::after {
                    display: none;
                }
                .usertext {
                    color: #fff;
                    font: $bold 14px 'openSans';
                    width: 96px;
                    text-align: right;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .action-menu .userpicture {
                    margin: 5px 0;
                }
                .userbutton {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                .dropdown-menu {
                    left: -36px;
                }
            }
        }
    }
}

@media #{$is-tablet} {
    .dheader__tutorial {
        display: none !important;
    }
}

@media #{$is-mobile} {
    .dheader__tutorial {
        display: none !important;
    }
}
