.dheader {
  .dropdown-menu{
    position: absolute;
    top: 50px;
  }
  .dheader__settings {
    margin-right: 30px;
  }
  .btn-secondary {
    margin-right: 10px;
  }
  .stardust  {
    a[data-title="mymoodle,admin"],
    a[data-title="grades,grades"] {
      display: none;
    }
  }
}
.navbar .count-container {
  min-width: 14px;
  height: 14px;
  border-radius: 50%;
  color: #3C3C3C;
  text-align: center;
  background-color: #FF7E99;
  box-shadow: 0 0 0 1px #F3F2F0;
}

.dheader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  max-height: 65px;
  padding: 0;
  border-bottom: none;
  // background-color: $gray_light;
  background-color: $d_blue;
  // box-shadow: 0 0px 8px #b1b1b1;
  .dheader__inner{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // max-width: 1344px;
    height: 65px;
    padding: 0 23px;
    .dheader__left{
      display: flex;
      flex-flow: row nowrap;
      .dheader__logo{
        margin: 0;
        background: none;
        padding: 0;
        margin-right: 60px;
        .dheader__logo-img img{
          width: 24px;
        }
      }
    }
    .dheader__center{
      display: flex;
      flex-flow: row nowrap;
    }
    .dheader__right{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      &>div{
        align-items: center;
      }
      .coursecontrols{
        display: flex;
      }
      .dheader__tutorial{
        display: flex;
        align-items: center;
        margin:0 1.5vw;
        color: #fff;
        .dheader__tutorial-link {
          font: $bold 12px 'openSans';
          color: #fff;
          padding-left: 27px;
          background-position: left;
          background-repeat: no-repeat;
          background-size: 22px;
          background-image:url([[pix:theme|header/toggle]]);
          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      // .hidden-md-down{}
      .dheader__lang{
        margin:0 1vw;
        // color: $text-color-gray !important;
        color: #fff !important;
        font: $bold 12px 'openSans';
        padding-left: 27px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 22px;
        background-image:url([[pix:theme|header/lang]]);
        &:after {
          display: none;
        }
      }
      .popover-region{
        margin:0 1vw;
        .popover-region-toggle{
          &:after{
            width:24px;
            box-sizing: border-box;
            border-top: 12px solid transparent;
            border-right: 12px solid #fff;
            border-bottom: 12px solid #fff;
            border-left: 12px solid  transparent;
            left:-8px;
          }
        }
        .popover-region-container {
          // right: auto;
          left: auto;
          .img-wrap img{
            margin: 0;
            width: unset;
            height: unset;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
          }
        }
        &.popover-region-messages{}
        &.popover-region-notifications{
          .popover-region-container{
          }
        }
      }
      .usermenu{
        margin:0;
        img {
          border-radius: 50%;
          overflow: hidden;
          margin-left: 0;
        }
        .dropdown-toggle::after {
          display: none;
        }
        .usertext {
          color: #fff;
          font: $bold 14px 'openSans';
          width: 96px;
          text-align: right;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .action-menu .userpicture {
          margin: 1rem 0 8px;
        }
        .userbutton {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .dropdown-menu{
          left:-36px;
        }
      }
    }
  }
}

@media #{$is-tablet} {
  .dheader__tutorial {
    display: none;
  }
}

@media #{$is-mobile} {
  .dheader__tutorial {
    display: none;
  }
}
