#help-menu {
    position: relative;
    .btn-help {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        padding: 0;
        background: url([[pix:theme|pagemy/help-dblue]]) no-repeat center;
        outline: none;
    }
    .menu {
        z-index: 1010;
        margin-top: 0;
        top: -15px;
        padding: 24px 24px 36px;
        background: $primary-color-1;
        min-height: 200px;
        min-width: 242px;
        border: none;
        position: absolute;
        right: 0;
        border-radius: 2px;
        display: none;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
        .menu-header {
            display: flex;
            justify-content: flex-end;
        }
        .menu-content {
            .item {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $gray_2;
                padding-left: 5px;
                background: none;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                    text-shadow: 0 0 2px #fff;
                }
                .item-icon {
                    min-width: 20px;
                    min-height: 20px;
                    &-teacher-hat {
                        background: url([[pix:theme|pagemy/teacher-hat]]) no-repeat center;
                    }
                    &-tech-support {
                        background: url([[pix:theme|pagemy/tech-support]]) no-repeat center;
                    }
                    &-forum {
                        background: url([[pix:theme|pagemy/forum]]) no-repeat center;
                    }
                    &-info {
                        background: url([[pix:theme|pagemy/info]]) no-repeat center;
                    }
                }
                .item-name {
                    font-size: 18px;
                    color: $white;
                    padding-top: 16px;
                    padding-left: 20px;
                    padding-bottom: 18px;
                }
            }
        }
    }
    .teacher_list {
        display: none;
        .teacher {
            display: block;
            padding: 0 1rem;
            padding-left: 2rem;
        }
    }

    // modal
    .modal {
        font-family: 'openSans';
    }
    .modal-close {
        position: relative;
        width: 32px;
        height: 32px;
        opacity: 0.6;
        background: none;
        border: none;
        cursor: pointer;
    }
    .modal-close:hover {
        opacity: 1;
    }
    .modal-close:before,
    .modal-close:after {
        position: absolute;
        content: '';
        top: 0;
        height: 33px;
        width: 2px;
        background-color: $white;
    }
    .modal-close:before {
        transform: rotate(45deg);
    }
    .modal-close:after {
        transform: rotate(-45deg);
    }

    .modal-head {
        font-size: 1.2rem;
        font-weight: $regular;
    }
    .modal-text {
        font-size: 1rem;
    }
    .modal-textarea {
        padding: .5rem;
        font-size: 1rem;
        height: 22vh;
        &.error {
            border: 1px solid #ebccd1;
            color: #a94442;
            background: #f2dede;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            line-height: 16vh;
        }
    }
    .techsupport {
        display: none;
    }
    .showtechsupport {
        .modal-title.techsupport,
        .techsupport {
            display: block;
        }
        .modal-title {
            display: none;
        }
    }
    .modal-dialog.modal-dialog-centered {
        margin-top: 17vh;
    }
    .modal-header {
        background-color: $d_blue;
        color: $white;
        align-items: center;
    }
    .modal-title {
        font-size: 2rem;
    }

}
#course-main-content,
.incourse-header {
    #help-menu .btn-help {
        background: url([[pix:theme|pagemy/help-dblue]]) no-repeat center;
        cursor: pointer;
    }
}
