@import "../variables";

$padding-blocks: 20px 27px 24px 24px;
$message-height: 25px;

#{$RTL} {
  .messages-container {
    direction: rtl;
    .messages {
      direction: ltr;
      &-dots-wrapper {
        transform: translateX(50%);
      }
    }
  }
}

#{$LTR} {
  .messages-container {
    direction: ltr;
    .messages {
      direction: ltr;
      &-dots-wrapper {
        transform: translateX(-50%);
      }
    }
  }
}

.messages-container {
  // height: 50px;
  // margin:15px 0;
  // box-sizing: border-box;
  // border: 4px solid #83D3AE;
  // border-radius: 15px;
  // padding: 0 2rem;
  height: calc(50% - 12px);
  background: $white;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
  overflow-y: scroll;
  // overflow-y: hidden;
  .messages {
    padding: $padding-blocks;
    // height: 100%;
    // position: relative;
    // display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    // justify-content: flex-start;
    min-height: 125px;
    &-title {
      color: $primary-color;
      font-size: 18px;
      font-weight:$bold;
      margin-bottom: 12px;
    }
    &-list-wrapper {
      width: 100%;
      // height: 2 * $message-height;
      // overflow: hidden;
      position: relative;
      .messages-list {
        width: 100%;
        font-size: 18px;
        margin-bottom: 0;
        list-style: none;
        padding: 0;
        position: absolute;
        top: 0;
        .message {
          // display: flex;
          // flex-flow: row nowrap;
          // justify-content: flex-start;
          // align-items: center;
          // padding: 0 1rem;
          height: 2*$message-height;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          &:before {
            content: '›';
            padding: 0 5px;
          }
        }
      }
    }
    & a {
      color: inherit;
    }
    & a:hover {
      text-decoration: none;
    }
    &-dots-wrapper {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      .messages-dots {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        .dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $progress;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

#course-main-content {
  .messages-container {
    font-size: 16pt;
    line-height: 18pt;
    height: auto;
    box-shadow: none;
    .messages {
      .messages-list-wrapper {
        height: $message-height;
        overflow: hidden;
        color: $d_blue;
      }
      .messages-title {
        line-height: 18pt;
        // margin-bottom: 8px;
        margin-bottom: 0;
        color: $d_blue;
        font-weight: normal;
      }
    }
  }
  .course-messages {
    max-width: 100%;
    width: 100%;
    padding: 0;
    .messages-container {
      height: 50px;
      margin:15px 0;
      box-sizing: border-box;
      border: 4px solid #83D3AE;
      border-radius: 15px;
      padding: 0 2rem;
      overflow-y: hidden;
      .messages {
        padding: 0;
        height: 100%;
        min-height: 42px;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        &-list-wrapper {
          width: 100%;
          height: 50px;
          overflow: hidden;
          .message {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 0 1rem;
            .messages-title {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D5D5D4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark_dark_gray;
}
