
.popover-region-notifications {
    .popover-region-toggle {
        outline: none;
        &::before {
            display: none;
        }
        &::after {
            content: "";
            display: inline-block;
            border-left: 12px solid #fff;
            border-right: 12px solid transparent;
            border-top: 12px solid transparent;
            border-bottom: 12px solid #fff;
            position: absolute;
            bottom: -18px;
            right: -10px;
            z-index: 2;
        }
    }
    .popover-region-container {
        width: 740px;
        top: 55px;
        left: 10px;
        box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.3);
        .popover-region-content {

            & > p {
                font-size: 24px;
                font-weight: bold;
                color: $pink;
            }
        }
    }
    .all-notifications {
        margin: 0;
        .notification {
            margin: 0;
            padding: 10px 32px;
            outline: none;
            .content-item {
                .profile-image-container {
                    display: none;
                }
                .content-item-body {
                    padding: 0;
                    & > h3 {
                        font-size: 18px;
                        line-height: 24px;
                        color: $primary-color;
                    }
                    & > p {
                        font-size: 18px;
                        line-height: 24px;
                        color: $text-color;
                    }
                }
            }
        }
    }

    .popover-region-reminder-div {
        width: 47%;
        // position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            bottom: 10px;
            top: 40px;
            left: 360px;
            background-color: #ddd;
        }
    }
    .addanewreminder {
        display: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: #fff;
        width: 48%;
        border: 1px solid #ddd;
        padding: 5px;
        & input[type="text"] {
            border: none;
            border-bottom: 1px solid $d_blue;
        }
        & div input {
            border: none;
            border-bottom: 1px solid $d_blue;
        }
    }
    .reminder {
        border-bottom: 1px solid #ddd;
    }
    .remindertext {
        flex-grow: 1;
    }
    .reminder_close {
        position: relative;
        cursor: pointer;
    }
    .btn-blue {
        cursor: pointer;
        background: $d_blue;
        min-width: 115px;
        height: 36px;
        border: none;
        border-radius: 50px;
        color: #fff;
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: $bold;
        transition: .2s;
        &:hover {
            box-shadow: 2px 2px 3px 0 $d_blue;
        }
    }
    .requared::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red;
        opacity: 1; /* Firefox */
    }
}
