@import "../variables";

#{$RTL} #page-mod-quiz-attempt {
  section#region-main.has-blocks {
    .qn_buttons {
      transform: translateX(50%);
    }
  }
}

#{$LTR} #page-mod-quiz-attempt {
  section#region-main.has-blocks {
    .qn_buttons {
      transform: translateX(-50%);
    }
  }
}


#page-mod-quiz-attempt {
  background: $gray_light;
  position: relative;
  // min-height: 100%;
  // padding-bottom: 144px;
  height: auto;
  #page-wrapper {
    min-height: auto;
    padding: 0;
    margin: 0;
    &::after {
      display: none;
    }
    div.m-t-2.m-b-1 {
      display: none;
    }
    .main-wrapper {
      .main {
        .help-block {
          top: -119px;
        }
      }
    }
    [data-region="blocks-column"] {
      display: none;
    }
    section#region-main.has-blocks {
      .finish_quiz {
        cursor: pointer;
        line-height: 48px;
        border-radius: 21px;
        background-color: $primary-color;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 700;
        padding: 0 25px;
        display: inline-block;
        margin-bottom: 45px;
        margin-left: auto;
        &:hover {
          text-decoration: none;
        }
      }
      width: 100%;
      .card {
        min-height: auto;
      }
      .course-content-header {
        display: none;
      }
      [role="main"] {
        position: relative;
        margin-bottom: 20px;
        .quiz_header {
          display: flex;
          border-bottom: 1px solid #D5D5D4;
          margin-bottom: 50px;
          .quiz_name {
          	color: #3C3C3C;
          	font-family: 'NextExitRound';
          	font-size: 48px;
          	line-height: 48px;
          	text-align: right;
          }
          .qn_buttons {
            transform: translate(0);
            position: static;
          }
        }
        .que {
          background: white;
          display: flex;
          flex-direction: column;
          padding: 51px 44px 44px;
          &.notyetanswered {
            .state {
              color: #A1ADB3;
            }
          }
          &.answersaved {
            .state {
              color: $primary-color;
            }
          }
          .info {
            display: flex;
            background: none;
            width: auto;
            border: none;
            padding: 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            // .state,
            // .grade,
            .questionflag,
            .editquestion {
              display: none;
            }
            .state,
            .grade {
              margin-top: 0;
              margin-left: 40px;
              font-size: 16px;
              font-weight: bold;

            }
            .grade {
              color: #3C3C3C;
            }
            .no {
              margin-right: auto;
              color: $text-color;
              font-size: 24px;
              line-height: 24px;
              padding-bottom: 21px;

              .qno {
                font-size: 24px;
              }
            }
          }
          .content {
            margin: 0;
            .formulation {
              background: none;
              border: none;
              margin: 0;
              padding: 0;
              .qtext img {
                  max-width: 50%;
                  text-align: center;
                  margin: 0 auto;
                  display: block;
              }
              .ablock {
                .answer {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  & > div {
                    position: relative;
                    max-width: 888px;
                    width: 100%;
                    &:hover {
                      background: $gray_light;
                    }
                    label {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      margin: 0;
                      padding: 0;
                      position: absolute;
                      left: 0;
                      top: 50%;
                      transform: translateY(-50%);
                      &::before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        border: 2px solid rgba(161,173,179,0.5);
                        border-radius: 50%;
                        margin-right: 10px;
                      }
                    }
                    input {
                      opacity: 0;
                    }
                    input:checked + label::before {
                      background: $primary-color;
                    }
                  }
                }
              }
            }
          }
        }
        .mod_quiz-section-heading {
          display: none;
        }
        .qn_buttons {
          position: absolute;
          bottom: 0;
          left: 50%;
          .qnbutton {
            background: none !important;
            border: none;
            &.thispage .thispageholder{
              border: none;
            }
            &.answersaved {
              color: $primary-color;
            }
            &.notyetanswered {
              color: #B4C1C7;
            }

          }
        }
        .submitbtns {
          [type="submit"] {
            height: 48px;
            width: 180px;
            border-radius: 21px;
            background-color: #B4C1C7;
            color: $white;
            border: none;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.5px;
            outline: none;
          }
        }
        .endtestlink,
        .singlebutton {
          display: none;
        }
      }
      #quiz-timer {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 64px;
        width: 74px;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        margin: 0;
        padding: 12px;
        #quiz-time-left {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          color: $white;
          background: $quiz-timer;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        }
      }
    }
  }
  #page-footer {
    background-color: #f4f3f0;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
  }
}
