
$width-col-1: 11%;
$width-col-2: 32%;
$width-col-3: 31%;
$width-col-4: 26%;

#{$RTL} #tabtoday {
  tbody {
    margin-left: -31px;
    padding-left: 31px;
    direction: rtl;
    tr {
      direction: ltr;
    }
  }
}

#{$LTR} #tabtoday {
  tbody {
    margin-left: -31px;
    padding-left: 31px;
    direction: rtl;
    tr {
      direction: ltr;
    }
  }
}

#tabtoday {
  // overflow: hidden;
  overflow-y: hidden;
  margin-bottom: 0;
  thead {
    tr {
      display: flex;
      align-items: flex-end;
      margin-right: 31px;
      padding-left: 7px;
      border-bottom: 1px solid $gray_light;
      th {
        border: none;
        border-bottom: 1px solid $gray_light;

      }
      .header-document-icon {
        width: $width-col-1;
        padding: 4px 19px 5px 0px;
      }
      .header-name-assigment {
        width: $width-col-2;
        padding: 4px 20px 5px 0px;
      }
      .header-name-course {
        width: $width-col-3;
        padding: 4px 16px 5px 0;
      }
      .header-date {
        width: $width-col-4;
        padding: 4px 10px 5px 0;
      }
    }
  }
  tbody {
    display: block;
    overflow: auto;
    height: 315px;
    width: 100%;

    tr {
      display: flex;
      th {
        padding: 17px 14px 7px 0;
      }
      td {
        padding: 20px 7px 7px 0;
        word-break: break-word;
      }
      .column-document-icon {
        width: $width-col-1;
      }
      .column-name-assigment {
        width: $width-col-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .column-name-course {
        width: $width-col-3;
        padding: 20px 21px 7px 0;
      }
      .column-date {
        width: $width-col-4;
        p {
          margin-bottom: -2px;
        }
      }
      .submit-assigment{
        color: #8a8a8a;
        color: $primary-color;
        font-size: 12px;
        &:hover {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }
  .table-header-item {
    display: flex;
    font-weight: normal;
    display: flex;
    align-items: center;
  }

  tr:first-child > td,
  tr:first-child > th {
    border: none;
  }

  tr:last-child {
    // border-bottom: 1px solid $gray_light;
  }
  .icon-sort-down {
    margin-right: 10px;
    transition: .3s;
    height: 13px;
    width: 10px;
    background:url([[pix:theme|pagemy/sort-down]]) no-repeat;
    background-size: cover;
  }
  .sorted {
    .icon-sort-down {
      transform: rotate(180deg);
    }
  }
  // .icon-sort-up {
  //   height: 18px;
  //   width: 18px;
  //   background:url([[pix:theme|pagemy/sort-up]]) no-repeat;
  // }
  .name-assigment {
    color: $text-color;
    font-size: 15px;
    font-weight:$bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 243px;
    &:hover {
      color: $primary-color;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .name-unit {
    margin-bottom: 0;
    color: $text-color-light;
    font-size: 12px;
  }
  .name-course {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:$bold;
  }
  .progress {
    height: $progress-height;
    background: $progress;
  }
  .progress-bar {
    height: $progress-height;
    background: $progress-bar;
  }
  th {
    cursor: pointer;
  }
}
