
@keyframes spinAjax {
  to {
    border-top-color: $d_blue;
    transform: rotate(360deg);
  }
}
@keyframes sussesAjax {
  0% {stroke-dashoffset: -100;}
  100% {stroke-dashoffset: 900;}
}

#course-main-content {
  .messages-container {
    font-size: 16pt;
    line-height: 18pt;
    height: auto;
    box-shadow: none;
    opacity: .5;
    &.show{
      opacity:1;
    }
    .messages {
      max-width:95%;
      .messages-list-wrapper {
        height: $message-height;
        overflow: hidden;
        color: $d_blue;
      }
      .messages-title {
        line-height: 18pt;
        margin-bottom: 0;
        color: $d_blue;
        font-weight: normal;
      }
    }
  }
  .course-messages {
    display: inline;
    max-width: 100%;
    width: 100%;
    padding: 0;
    .messages-container {
      position: relative;
      width: calc(100% - 65px);
      max-width: 95%;
      float: left;
      height: 50px;
      margin:15px 0;
      box-sizing: border-box;
      border: 4px solid #83D3AE;
      border-radius: 15px;
      padding: 0 2rem;
      overflow-y: hidden;
      overflow-x: visible;
      .messages {
        padding: 0;
        height: 100%;
        min-height: 42px;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        &-list-wrapper {
          width: 100%;
          height: 50px;
          overflow: hidden;
          .message {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            .messages-title {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .message-hider{
      background: transparent;
      border:0;
      position: relative;
      float: right;
      width: 5%;
      width:50px;
      margin:-3rem -15px 0;
      height:50px;
      font-size: 1.5rem;
      &:after{
        font-family: fontAwesome;
        content:'\f070';
        display: block;
      }
      &.show{
        &:after{
          font-family: fontAwesome;
          content:'\f06e';
          display: block;
        }
      }
    }
  }
}

// teacher-messages
#course-main-content form.message{
  position:relative;
  display:flex;
  flex-flow:row nowrap;
  width:100%;
  overflow:hidden;
  input{
    border:0;
    background:transparent;
    outline:none;
    cursor:pointer;
    &.message-input{
      width:calc(100% - 3em);
    }
  }
  .message-controls{
    position:relative;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    height:100%;
    width:3em;
    .message-submit{
      border:0;
      background-color:transparent;
      color:#83D3AE;
      outline:none;
      &:after{
        font-family: fontAwesome;
        content:'\f061';
        display: block;
        font-size:1em;
        line-height:1em;
        font-weight:300;
      }
    }
    .message-spin{
      display: block;
      width:1em;
      height:1em;
      border-radius:50%;
      animation: spinAjax 1s linear infinite;
      border: 3px solid #ddd;
      border-top: 3px solid #83D3AE;
    }
    .message-sent{
      width: 1.5em;
      height:1.5em;
      display: block;
      .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.check {
          stroke-dashoffset: -100;
          animation: sussesAjax .9s .35s ease-in-out forwards;
        }
      }
    }
  }
}
[dir="rtl"] #course-main-content div.message div.message-input {
  width:calc(100% - 5em);
}
