<div class="achievements">
    <ul>
        {{#showgrades}}
        <li class="achievment">
            <!-- <a href = "{{config.wwwroot}}/grade/report/grader/index.php?id={{courseid}}"> -->
            <a href = "{{config.wwwroot}}/grade/report/user/index.php?id={{courseid}}">
                <p class="icon-label">{{#str}}grades, theme_stardust{{/str}}</p>
                <div class="icon-report"></div>
            </a>
        </li>
        {{/showgrades}}
        {{#showbagestag}}
        <li class="achievment">
            <a href = "{{config.wwwroot}}/badges/mybadges.php">
                <p class="icon-label">{{#str}}medal, theme_stardust{{/str}}</p>
                <div class="icon-medal">
                    {{#output.get_user_badges.count}}
                        {{#.}}
                            <div class="icon-counter">{{output.get_user_badges.count}}</div>
                        {{/.}}
                    {{/output.get_user_badges.count}}
                </div>
            </a>
        </li>
        {{/showbagestag}}
        {{#showcertificatestag}}
        <li class="achievment">
            <a href = "{{config.wwwroot}}/user/profile.php#accomplishments-certificates">
                <p class="icon-label">{{#str}}diplom, theme_stardust{{/str}}</p>
                <div class="icon-diplom"></div>
            </a>
        </li>
        {{/showcertificatestag}}
    </ul>
</div>
