{{#hascourseblocks}}
<div class="collapse slidingblockpanel" id="blockslider">

    {{#hasfpblockregion}}
        <div class="fp-blocks">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                            <section data-region="blocks-fpa" class="hidden-print">
                                {{{ fpablocks }}}
                            </section>
                    </div>
                    <div class="col-md-4">
                            <section data-region="blocks-fpb" class="hidden-print">
                                {{{ fpbblocks }}}
                            </section>
                    </div>
                    <div class="col-md-4">
                            <section data-region="blocks-fpc" class="hidden-print">
                                {{{ fpcblocks }}}
                            </section>
                    </div>
                </div>
            </div>
        </div>
    {{/hasfpblockregion}}

</div>

<div class="blockpanelbtn">
  <a role="button" id="blocksliderbutton" class="btn blockpanelbutton" data-toggle="collapse" href="#blockslider" aria-expanded="false" aria-controls="blockslider" ><i class="fa fa-bars" aria-hidden="true"> </i> <span class="blockbtntext">{{# str }} courseblockpanelbtn, theme_fordson {{/ str }}</span> </a>
</div>

{{/hascourseblocks}}


{{#js}}
const windowWidth = $(window).width();
const blockWidth = $(".card-block").width();
const curentLang = document.querySelector("html").dir;
const besidesMargin = (windowWidth - blockWidth) / 2;
const sliderWidth = $(".slidingblockpanel").width();

const Margin = {
  right: -besidesMargin,
  left: -besidesMargin
};

const BlockMargin = {
  right: -(besidesMargin + sliderWidth),
  left: -(besidesMargin + sliderWidth)
};

const slidingBlockHeight = $(".slidingblockpanel").height();
const regionMainHeight = $("#region-main").height();


$(document).ready(function() {
  if (curentLang == "ltr") {
    $(".slidingblockpanel").css({ right: BlockMargin.right });
  } else {
    $(".slidingblockpanel").css({ left: BlockMargin.left });
  }
});

$("#blocksliderbutton").click(function() {
  $(this).toggleClass("blocksliderbutton_open");
    
  if ($("#blocksliderbutton").hasClass("blocksliderbutton_open")) {
      $("#region-main").css({
        'margin-bottom': `${slidingBlockHeight - regionMainHeight}px`
    });

    var theOffset = $(this).offset();
    $("body, html").animate(
      {
        scrollTop: theOffset.top - 50
      },
      400
    );
    $(".slidingblockpanel").css({ display: "none" });
    if (curentLang == "ltr") {
      $(".slidingblockpanel").css({ display: "block" });
      $(".slidingblockpanel")
        .delay(600)
        .animate({ right: Margin.right }, 600);
    } else {
      $(".slidingblockpanel").css({ display: "block" });
      $(".slidingblockpanel")
        .delay(600)
        .animate({ left: Margin.left }, 600);
    }
  } else {
    $("#region-main").css("margin-bottom", "0");
    if (curentLang == "ltr") {
      $(".slidingblockpanel").animate({ right: BlockMargin.right }, 300);
    } else {
      $(".slidingblockpanel").animate({ left: BlockMargin.left }, 300);
    }
  }

  $(this).find("i").delay(550).toggleClass("fa fa-bars");
  $(this).find("i").delay(550).toggleClass("fa fa-times");
});

{{/js}}