<div id="course-main-content">

  <div class="top-wrapper" style="background-image:url({{{coursecoverimg}}});">
      <div class="top">

          <div class="title-wrapper">
            <h1 class="title">
              <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}">{{coursename}}<span class='endline'></span></a>
            </h1>
            {{#coursfullname}}
            <p class="title">{{coursfullname}}</p>
            {{/coursfullname}}
          </div>
          <ul class="top-content">

            {{#display_units}}
              <li class="top-content-item course-presence">
                {{>theme_stardust/presence}}
              </li>
            {{/display_units}}

              {{#attendanceinfo}}
                <li class="top-content-item course-presence">
                    {{>theme_stardust/attendance}}
                </li>
              {{/attendanceinfo}}

          </ul>
      </div>
  </div>
  <div class = "bottom-wrapper">
    <div class = "">
      {{#display_messages}}
        <li class="top-content-item course-messages">
            {{>theme_stardust/teacher-messages}}
        </li>
      {{/display_messages}}
    </div>
    <div class = "">
      {{#display_grades}}
        <li class="top-content-item">
            {{>theme_stardust/achievements}}
        </li>
      {{/display_grades}}
    </div>
  </div>

  <div class="main-wrapper">
      <div class="main">
          <div class="help-block">
                {{#helplink}}
                    {{>theme_stardust/help-link}}
                {{/helplink}}
                {{^helplink}}
                    {{>theme_stardust/help-menu}}
                {{/helplink}}
          </div>
      </div>
  </div>

</div>
{{#js}}
require(['jquery'], function($){

    var endline = $('.endline'),
        linewidth = $('body').hasClass('dir-ltr') ? endline.offset().left : $('body').width() - endline.offset().left;
    endline.css('width', parseInt(linewidth)).addClass('processed');

});

{{/js}}
