<div id="course-main-content">

  <div class="top-wrapper" style="background-image:url({{{coursecoverimg}}});">
      <div class="top">
          <!-- <div class="subtitle"> -->
              <!-- <span class="home-icon"></span> -->
              <!-- <span class="route"><a href="{{config.wwwroot}}/my/">{{#str}}gohome, theme_stardust{{/str}}</a></span> -->
          <!-- </div> -->
          <div class="title-wrapper">
            <h1 class="title"><a href="{{config.wwwroot}}/course/view.php?id={{courseid}}">{{coursename}}</a></h1>
            <p class="title">{{coursfullname}}</p>
          </div>
          <ul class="top-content">

            {{#display_units}}
              <li class="top-content-item course-presence">
                {{>theme_stardust/presence}}
              </li>
            {{/display_units}}

              {{#attendanceinfo}}
                <li class="top-content-item course-presence">
                    {{>theme_stardust/attendance}}
                </li>
              {{/attendanceinfo}}

          </ul>
      </div>
  </div>
  <div class = "bottom-wrapper">
    <div class = "">
      {{#display_messages}}
        <li class="top-content-item course-messages">
            {{>theme_stardust/teacher-messages}}
        </li>
      {{/display_messages}}
    </div>
    <div class = "">
      {{#display_grades}}
        <li class="top-content-item">
            {{>theme_stardust/achievements}}
        </li>
      {{/display_grades}}
    </div>
  </div>

  <div class="main-wrapper">
      <div class="main">
          <div class="help-block">
                {{#helplink}}
                    {{>theme_stardust/help-link}}
                {{/helplink}}
                {{^helplink}}
                    {{>theme_stardust/help-menu}}
                {{/helplink}}
          </div>
      </div>
  </div>

</div>
