{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}

<header role="banner" class="dheader pos-f-t navbar navbar-full navbar-light navbar-static-top moodle-has-zindex">
    <div class="container-fluid navbar-nav dheader__inner">
      <div class="dheader__left">
        <!-- setting -->
        {{#hasfhsdrawer}}
        <div data-region="drawer-toggle nav-item nav-link">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn btn-secondary drawer" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav" data-tooltip="tooltip" data-placement= "bottom" title="{{#str}}navdrawerbtn, theme_fordson{{/str}}"><i class="fa fa-bars" aria-hidden="true"></i><span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
        {{/hasfhsdrawer}}
        <a
            href="{{{ config.wwwroot }}}"
            data-tooltip = "tooltip"
            data-placement = "bottom"
            title = "{{# str }} gohomepage, theme_stardust {{/ str }}"
            class="dheader__logo navbar-brand
              {{# output.should_display_navbar_logo }}
                  has-logo
              {{/ output.should_display_navbar_logo }}
              {{^ output.should_display_navbar_logo }}
                  hidden-sm-down
              {{/ output.should_display_navbar_logo }}
            ">
              {{# output.should_display_navbar_logo }}
                  <span class="logo hidden-xs-down">
                      <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                  </span>
              {{/ output.should_display_navbar_logo }}
              {{^ output.should_display_navbar_logo }}
                  <span class="dheader__logo-img">
                    <img src="{{output.get_stardust_moodle_logo}}" alt="{{sitename}}">
                    <img src="{{output.get_stardust_logo}}" alt="{{sitename}}">
                  </span>
              {{/ output.should_display_navbar_logo }}
              <!-- <span class="site-name hidden-sm-down">{{{ sitename }}}</span> -->
          </a>
      </div>
      <div class="dheader__center">
      </div>
      <div class="dheader__right">
        <!-- course_controls -->
        {{#sitesettingsbutton}}
        <div class="coursecontrols">
            {{{ output.teacherdashmenu }}}
            {{{ output.edit_button_fhs }}}
        </div>
        {{/sitesettingsbutton}}


        <div class = "dheader__tutorial">
          <div
            class = "dheader__tutorial-link"
            data-action="tool_usertours/resetpagetour"
            data-tooltip = "tooltip"
            data-placement = "bottom"
            title = ""
            >
            <div class='tutorial__toggler'>
              <div class='point'></div>
            </div>
            <div
              class = "tutorialoff"
              >
              {{# str }} tutorial_is_off, theme_stardust {{/ str }}
            </div>
            <div class = "tutorialon">{{# str }} tutorial_is_on, theme_stardust {{/ str }}</div>
          </div>
        </div>


        <!-- search_box -->
        <span class="hidden-md-down">
        {{{ output.search_box }}}
        </span>

        <nav class="nav navbar-nav hidden-md-down">
            <!-- fordson_custom_menu -->
            {{{ output.edit_settings_button }}}
            {{{ output.fordson_custom_menu }}}
            {{{ output.custom_menu }}}

            <!-- page_heading_menu -->
              {{{ output.page_heading_menu }}}
        </nav>
        <div class="d-flex flex-row-reverse">
          <!-- navbar_plugin_output: messages, notifications -->
          {{#output.is_user_messaging_enabled}}
              {{{ output.navbar_plugin_output }}}
          {{/output.is_user_messaging_enabled}}
          {{^output.is_user_messaging_enabled}}
              {{{ output.notifications_output }}}
          {{/output.is_user_messaging_enabled}}
        </div>
        <!-- user -->
        {{{ output.user_menu }}}
      </div>
    </div>
</header>
{{# js }}
require(['jquery'], function($){

  let tutorilaBtn = document.querySelector('div[data-action="tool_usertours/resetpagetour"]');

  //TODO remove setTimeout

  $( document ).ready(function(e) {
    setTimeout(function(){
      if (M.str.tool_usertours) {
        if (M.str.tool_usertours.endtour) tutorilaBtn.classList.add('active');
        tutorilaBtn.dataset.originalTitle = '{{# str }} tutorialstart, theme_stardust {{/ str }}';
      } else {
        tutorilaBtn.dataset.originalTitle = '{{# str }} tutorialisoffonthispage, theme_stardust {{/ str }}';
      }
    },2000)
  });


  // add class to tutorilaBtn if tour is active
  // if (tutorilaIndex) tutorilaBtn.classList.add('active');

  tutorilaBtn.addEventListener('click', function(e){
    let tutorilaIndex = document.querySelector('a[data-action="tool_usertours/resetpagetour"]');

    if (tutorilaIndex) {
      let tourPopup = document.querySelector('div[data-role="flexitour-step"]');
      tutorilaBtn.classList.add('active');

    }else {
      e.currentTarget.dataset.placement =  'bottom';
    }
  });

  document.addEventListener('click', function(e){
    let target = e.target;

    while (target.tagName != 'HTML') {
      if (target.dataset.role === 'end' || target.dataset.flexitour === 'backdrop' ) {
        tutorilaBtn.classList.remove('active');
        return;
      }
      target = target.parentNode;
      if (!target) return;
    }
  });
});
{{/ js }}
