{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_stardust/header}}

    <div class="video-bg-container">
        <div class="overlay"></div>
        <video loop muted autoplay poster="" class="fullscreen-bg__video">
            <source src="{{config.wwwroot}}/theme/stardust/assets/login-video.mp4" type="video/mp4">
        </video>
    </div>
    <style>
        .video-bg-disabled {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
        .video-bg-container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            overflow: hidden;
            background-attachment: scroll;
        }
        .video-bg-container video {
            min-width: 100%;
            min-height: 100%;
            z-index: 1;
        }
        .video-bg-container .overlay {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
            background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
            z-index: 2;
            opacity: 0.7;
            position: absolute;
            text-align: center;
            margin: 0;
            width: 100%;
            height: 100%;
        }

    </style>

    <div id="page" class="container-fluid">
        <div id="page-content" class="row">
            <div id="region-main-box">
                <section id="region-main" class="col-xs-12">
                    <p class = "dlogin__greeting">{{#str}}greeting , theme_stardust{{/str}}</p>
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>

    {{>theme_stardust/footer}}
</div>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
