{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{#output.headingfont}} <link href="//fonts.googleapis.com/css?family={{output.headingfont}}" rel="stylesheet" type="text/css"> {{/output.headingfont}}
    {{#output.pagefont}} <link href="//fonts.googleapis.com/css?family={{output.pagefont}}" rel="stylesheet" type="text/css"> {{/output.pagefont}}
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_stardust/header}}

    <div id="page" class="container-fluid">

        {{{ output.headerimage }}}

        <div id="learningcontent" class = "display__none">

        {{{ output.teacherdash }}}

            {{{ output.full_header }}}

            <div id="page-content" class="row">
                <div id="region-main-box" class="col-xs-12">

                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                        <div> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                    <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                        <div class="card card-block">
                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}
                        {{{ output.course_content_header }}}
                        {{{ output.main_content }}}
                        {{{ output.course_content_footer }}}
                        </div>

                    </section>
                    {{#hasblocks}}
                        <section data-region="blocks-column" class="hidden-print">
                            {{{ sidepreblocks }}}
                        </section>
                    {{/hasblocks}}
                </div>
            </div>
            {{{ output.activity_navigation }}}
        </div>
    </div>
    {{#hasfhsdrawer}}
    {{> theme_boost/nav-drawer }}
    {{/hasfhsdrawer}}
</div>

{{#showbacktotop}}
<a href="#" id="back-to-top" class="btn btn-primary btn-lg" role="button" title="{{#str}}backtotop, theme_fordson{{/str}}"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
{{/showbacktotop}}

<div id="mypublic-student">
    <div class="main-wrapper" style="background-image:url({{{backgroundimg}}});">
        <div class="icon-help">
                {{#helplink}}
                    {{>theme_stardust/help-link}}
                {{/helplink}}
                {{^helplink}}
                    {{>theme_stardust/help-menu}}
                {{/helplink}}
        </div>
        <div class="main">
            <div class="main-header">
                <div class="block-left">
                    <h3 class="subtitle">{{#str}} profile_greeting, theme_stardust{{/str}}</h3>
                    <h1 class="title">{{userinfo.firstname}} {{userinfo.lastname}}</h1>
                </div>
                <div class="block-right">
                    <div
                      id = "change_background"
                      data-tooltip = "tooltip"
                      data-placement = "bottom"
                      data-original-title = "{{#str}} change_background, theme_stardust{{/str}}"
                      class="icon-camera"
                    ></div>
                </div>
            </div>
            <div class="main-content">
                <div class="profile profile-picture">
                    <div class="title">{{#str}} profile_picture, theme_stardust{{/str}}</div>
                    <div id="avatar-wrapper" class="avatar-wrapper">
                        <img src="{{userpictureurl}}" class="avatar" alt="avatar">
                        <!-- <a class="avatar-tooltip" href = "{{config.wwwroot}}/user/editadvanced.php?id={{userinfo.id}}"> -->
                        <a id = "change_picture" class="avatar-tooltip" href = "javascript:void(0)">
                              <div class="icon-camera"></div>
                              <div>{{#str}} change_picture, theme_stardust{{/str}}</div>
                        </a>
                    </div>
                    <div class="avatar-info">
                        {{#str}} profile_icon_info, theme_stardust{{/str}}
                    </div>
                    <!-- <a class="btn-blue" href="{{config.wwwroot}}/user/editadvanced.php?id={{userinfo.id}}">{{#str}} save, theme_stardust{{/str}}</a> -->
                </div>
                <form id="mypublicpage-profile-shortform" class="profile profile-info">
                    <input type="hidden" id="userid" value="{{userinfo.id}}" />
                    <div class="column">
                        <div class="title">{{#str}} personal_information, theme_stardust{{/str}}</div>
                        <button class="toggle-info show" type="button">
                          <span class = "show_more">{{#str}} show_more, theme_stardust{{/str}}<i class="fa fa-angle-down"></i></span>
                          <span class = "show_less">{{#str}} show_less, theme_stardust{{/str}}<i class="fa fa-angle-up"></i></span>
                          <!-- <span>show less</span> -->
                        </button>
                        <ul class="info-list">
                            <li class="info" data-input="username">
                              {{#canedit}}{{/canedit}}{{^canedit}}{{/canedit}}
                              <span id="username" class="input">{{userinfo.username}}</span>
                              <span class="input-label">{{#str}} username, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="pass">
                              <a  class="input" id="pass" href="{{config.wwwroot}}/login/change_password.php?id={{userinfo.id}}">{{#str}} change_password_link, theme_stardust{{/str}}</a>
                                <span class="input-label">{{#str}} password, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="fullname">
                              <span id="fullname" class="input">{{userinfo.firstname}} {{userinfo.lastname}}</span>
                              <span class="input-label">{{#str}} lastname_firstname, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="email">
                              <span id="email" class="input">{{userinfo.email}}</span>
                              <span class="input-label">{{#str}} email, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="aim">
                              <span id="aim" class="input">{{userinfo.aim}}</span>
                              <span class="input-label">{{#str}} additional_email, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="phone1">
                              <span id="phone1" class="input">{{userinfo.phone1}}</span>
                              <span class="input-label">{{#str}} phone, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="phone2">
                              <span id="phone2" class="input">{{userinfo.phone2}}</span>
                              <span class="input-label">{{#str}} additional_phone, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="skype">
                              <span id="skype" class="input">{{userinfo.skype}}</span>
                                <span class="input-label">{{#str}} position, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="knowledge">
                              <span id="knowledge" class="input">{{#str}} write_knowledges, theme_stardust{{/str}}</span>
                                <span class="input-label">{{#str}} knowledge, theme_stardust{{/str}}</span>
                                <div id = "knowledge-container" class = "knowledge-container">
                                  {{#userinfo.knowledge}}
                                    <div
                                        class = "knowledge-item"
                                        style="background-color: #19284f;"
                                        onclick="this.remove();"
                                        >
                                        {{{.}}}
                                    </div>
                                    {{/userinfo.knowledge}}
                                </div>
                            </li>
                            <li class="info" data-input="birthday">
                              <span id="birthday" class="input">{{#userdate}}{{userinfo.profile_field_birthday}}, %Y-%m-%d {{/userdate}}</span>
                                <span class="input-label">{{#str}} birthday, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info" data-input="interests">
                              <span id="interests" class="input">{{#str}} write_tags, theme_stardust{{/str}}</span>
                                <span class="input-label">{{#str}} interests, theme_stardust{{/str}}</span>
                                <div id = "tag-container" class = "tag-container">
                                  {{#userinfo.interests}}
                                    <div
                                        class = "tag-item"
                                        style="background-color: #19284f;"
                                        onclick="this.remove();"
                                        >
                                        {{{.}}}
                                    </div>
                                    {{/userinfo.interests}}
                                </div>
                            </li>
                            <li class="info submit">
                                <input type="button" id="mypublicprofile-save-btn" class="btn-blue" {{canedit}} value="{{#str}} update_details, theme_stardust{{/str}}">
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <div class="title">{{#str}} school_details, theme_stardust{{/str}}</div>
                        <ul class="info-list">
                            <li class="info">
                                <!-- <input type="text" id="institution" class="input" {{canedit}} {{userinfo.institution_status}} value="{{userinfo.institution}}"> -->
                                <span id="institution" class="input">{{userinfo.institution}}</span>
                                <span class="input-label">{{#str}} school, theme_stardust{{/str}}</span>
                            </li>
                            <li class="info">
                                <!-- <input type="text" id="yahoo" class="input" {{canedit}} {{userinfo.yahoo_status}} value="{{userinfo.yahoo}}"> -->
                                <span type="text" id="yahoo" class="input">{{userinfo.yahoo}}</span>
                                <span class="input-label">{{#str}} school_city, theme_stardust{{/str}}</span>
                            </li>
                            <!-- <li class="info">
                                <input type="text" id="address" class="input" {{canedit}} value="{{userinfo.address}}">
                                <span class="input-label">{{#str}} address, theme_stardust{{/str}}</span>
                            </li> -->

                        </ul>
                    </div>
                </form>
                <div class="profile profile-medals">
                    <div class="title">{{#str}} accomplishments, theme_stardust{{/str}}</div>
                    <ul class="achievments">
                        <a href="#accomplishments-wrapper"  onclick="document.getElementById('pills-accomplishments-medals').click();">
                        <!-- <a href="#pills-accomplishments-medals"  onclick="document.getElementById('pills-accomplishments-medals').click();"> -->
                        <!-- <a href = "{{config.wwwroot}}/badges/mybadges.php"> -->
                          <li class="achievment">
                              <div class="icon-medal">
                                {{#output.get_user_badges.count}}
                                  {{#.}}
                                      <div class="icon-counter">{{output.get_user_badges.count}}</div>
                                  {{/.}}
                                {{/output.get_user_badges.count}}
                              </div>
                              <p class="icon-label">{{#str}} medal, theme_stardust{{/str}}</p>
                          </li>
                        </a>
                        <a href = "#accomplishments-wrapper"   onclick="document.getElementById('pills-accomplishments-grades').click();">
                        <!-- <a href = "#pills-accomplishments-grades"   onclick="document.getElementById('pills-accomplishments-grades').click();"> -->
                        <!-- <a href = "{{config.wwwroot}}/grade/report/overview/index.php"> -->
                          <li class="achievment">
                              <div class="icon-grades"></div>
                              <p class="icon-label">{{#str}} grades, theme_stardust{{/str}}</p>

                          </li>
                        </a>
                        <a href = "#accomplishments-wrapper"  onclick="document.getElementById('pills-accomplishments-certificates').click();">
                        <!-- <a href = "#pills-accomplishments-certificates"  onclick="document.getElementById('pills-accomplishments-certificates').click();"> -->
                        <!-- <a href = "{{config.wwwroot}}/user/profile.php#accomplishments-certificates"> -->
                            <li class="achievment">
                                <div class="icon-diplom"></div>
                                <p class="icon-label">{{#str}} diplom, theme_stardust{{/str}}</p>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{>theme_stardust/accomplishments}}
</div>

{{>theme_stardust/footer}}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['jquery','theme_boost/tooltip'], function($){$('[data-tooltip="tooltip"]').tooltip()});
require(['theme_stardust/mypublicpage']);

{{#hasfhsdrawer}}
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/hasfhsdrawer}}

require(['jquery'], function($) {
  `use strict`;

  // fix for diploma link on mydashboard page
  // check if this url contains hash to #accomplishments-certificates and scroll page to it
  $('document').ready(function(){
    if (window.location.hash === "#accomplishments-certificates"){
      document.getElementById('accomplishments-wrapper').scrollIntoView();
      document.getElementById('pills-accomplishments-certificates').click();
    }
  });


  $('#mypublicpage-profile-shortform .toggle-info').on('click', function(e){
    $(this).toggleClass('show');
    $(`
      #aim,
      #phone2,
      #skype,
      #knowledge,
      #birthday,
      #interests
    `).parent().slideToggle(function(e){
      if ($(this).is(':visible'))
      this.style = 'display:flex;'
    });
  });

  // upload background
  $('#page-user-profile').on('click', function(e){
    if (!$(e.target).parents('form.mform').length && !$(e.target).hasClass('fp-upload-btn') && !$(e.target).parents('div.moodle-dialogue-base').length) {
      $('.mform').fadeOut();
    };
  });

  $(document).keyup(function(e) {
    if (e.keyCode == 27) { // esc keycode
        $('.mform').fadeOut();
    }
  });

  $('.mform-close').on('click', function(e){
    $(e.target).parent().fadeOut();
  });

  $('#change_picture').on('click', function(e){
    e.stopPropagation();
    $('#mform1').fadeToggle();
  });

  $('#change_background').on('click', function(e){
    e.stopPropagation();
    $('#mform2').fadeToggle();
  });

});
{{/js}}
