<div class="profile profile-medals d-flex flex-wrap d-lg-block w-100">
    <div class="title w-100 text-sm-left text-lg-center">{{#str}} accomplishments, theme_stardust{{/str}}</div>
    <ul class="achievments flex-row flex-lg-column justify-content-between justify-content-md-around w-100">
        <a href = "{{config.wwwroot}}/badges/mybadges.php">
            <li class="achievment">
                <div class="icon-medal">
                  {{#output.get_user_badges.count}}
                      {{#.}}
                          <div class="icon-counter">{{output.get_user_badges.count}}</div>
                      {{/.}}
                  {{/output.get_user_badges.count}}
                </div>
                <p class="icon-label">{{#str}} medal, theme_stardust{{/str}}</p>
            </li>
        </a>
        <a href = "{{config.wwwroot}}/grade/report/overview/index.php">
            <li class="achievment">
                <div class="icon-grades"></div>
                <p class="icon-label">{{#str}} grades, theme_stardust{{/str}}</p>

            </li>
        </a>
        <a href = "{{config.wwwroot}}/user/profile.php#accomplishments-certificates">
            <li class="achievment">
                <div class="icon-diplom"></div>
                <p class="icon-label">{{#str}} diplom, theme_stardust{{/str}}</p>
            </li>
        </a>
    </ul>
</div>
