<div class="presence">
    <div class="presence-content">
        <div class="circle-wrapper">
            <div class="circle" id="circle-progress" data-value="{{sectionscompletion.percent}}">
              <div class="circle-inner">
                <span class="circle-label">{{sectionscompletion.allsections}}</span>
                <p class="presence-title">{{#str}}study_units, theme_stardust{{/str}}</p>
              </div>
            </div>
            <div
            class="circle-small-wrapper"
            style = "transform: rotate({{sectionscompletion.angle}}rad)"
            >
                <div
                class="circle-small"
                style = "transform: rotate(-{{sectionscompletion.angle}}rad)"
                >
                    <span class="circle-small-label">{{sectionscompletion.completed}}</span>
                </div>
            </div>
        </div>
        <!-- <div class="presence-label">{{sectionscompletion.completed}} {{#str}}out_of, theme_stardust{{/str}} {{sectionscompletion.allsections}} {{#str}}points, theme_stardust{{/str}}</div> -->
    </div>
</div>

{{#js}}
    require(['jquery', 'theme_stardust/circle-progress'], function($, circleProgress) {
        $('#circle-progress').circleProgress({
            startAngle: -Math.PI / 2,
            size: 110,
            fill: '#83D3AE',
            animation: false,
        });
    });
{{/js}}
