{{#showincourseonly}}
    {{#quizsettingsbutton}}
    <div class="teacherdash nav-item nav-link">
            <a role="button" data-tooltip="tooltip" data-placement= "bottom" title="{{#str}}quizsettings, theme_stardust{{/str}}" data-handler="quizsetting" href="javascript:void(0)" class="btn btn-secondary fhs-tooltip">  <i class="fa fa-cog" aria-hidden="true"></i></a>
    </div>
    {{/quizsettingsbutton}}
<!-- TTT  -->
    {{#haspermission}}
        {{#dashmenu}}
            {{#haseasyenrollment}}
                <div class="enrollcodes nav-item nav-link">
                    <a href="{{{url}}}" data-tooltip="tooltip" data-placement= "bottom" title="{{{title}}}" class="btn btn-secondary fhs-tooltip"><i class="fa fa-key" aria-hidden="true"></i></a>
                </div>
            {{/haseasyenrollment}}
        {{/dashmenu}}
    {{/haspermission}}

    {{#hasstudentdash}}
    <div class="studentdash nav-item nav-link">
        <a role="button" data-tooltip="tooltip" data-placement= "bottom" title="{{{togglebuttonstudent}}}" data-toggle="modal" href="#studentdashslider" class="btn btn-secondary fhs-tooltip"><i class="fa fa-cogs" aria-hidden="true"></i></a>
    </div>
    {{/hasstudentdash}}
{{/showincourseonly}}

{{#hasadminlink}}
    <div class="siteadminlink nav-item nav-link">
        <a href="{{{siteadminurl}}}" data-tooltip="tooltip" data-placement= "bottom" title="{{{siteadmintitle}}}" class="btn btn-secondary fhs-tooltip"><i class="fa fa-sitemap" aria-hidden="true"></i></a>
    </div>
{{/hasadminlink}}

{{#haseditcog}}
    <div class="editcogbutton">{{{editcog}}}</div>
{{/haseditcog}}

{{#js}}
    require(['jquery'], function($) {
      $('[data-handler="quizsetting"]').on('click', function(e){
        $('#block-region-side-pre').parent().toggleClass('view');
      });
    });
{{/js}}
