<div class="messages-container  {{coursemessage.buttonstatus}}" {{^isteacher}}{{coursemessage.studmessageshowhide}}{{/isteacher}}>
    <div class="messages" id = "custom-message">
        <p class="messages-title">{{#str}}messages, theme_stardust{{/str}}</p>
        <div class="messages-list-wrapper">
          <div class="messages-list">
            {{#isteacher}}
                  <form class="message" data-courseid = {{courseid}} data-userid={{userid}} {{coursemessage.teachmessageshowhide}}>
                    <input type="text" class="message-input" value = "{{coursemessage.message}}" name = "">
                    <div class="message-controls">
                      <button type="button" class="message-submit"></button>
                      <div class="submit-icons"></div>
                    </div>
                  </form>
            {{/isteacher}}
            {{^isteacher}}
                <div class="message noteacher" {{coursemessage.studmessageshowhide}}> {{{coursemessage.message}}}</div>
            {{/isteacher}}
          </div>
        </div>
    </div>
    {{#isteacher}}
    <button type="button" name="message-hider" class="message-hider {{coursemessage.buttonstatus}}" title="{{coursemessage.buttontitle}}"></button>
    {{/isteacher}}
</div>
